# Inquiry tracker analysis

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
xls=pd.ExcelFile("Sample Month End Report for Assesment.xlsx")
xls.sheet_names

['Time spent Analysis', 'Key Accounts', 'Meeting Log', 'Inquiry Tracker']

In [4]:
data=pd.read_excel("Sample Month End Report for Assesment.xlsx",sheet_name="Inquiry Tracker")
data

,Inquiry Date,Projects,Number of Hours,Value/Hours,Feasability Ratio,Expected Close date,Unnamed: 6,Construction type,Stage,Source,...,Value (INR),Quoted Via Applicator,Applicator,Lost Reason,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-26 00:00:00,Sattva Lakeridge,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,15130000.0,Yes,Asg Win,NaN,NaN,Metrics,NaN,NaN,Targets,Accomplishment(%)
2,2025-01-08 00:00:00,Indian Naval Academy,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,12750000.0,Yes,Green Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-15 00:00:00,Gangothri Tribhuja,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,11900000.0,Yes,Asg win,NaN,NaN,Sales,Total Deals,25.0,2941.176471,0.0085
4,2025-03-03 00:00:00,Ecodeck horizontal,NaN,NaN,NaN,2026,NaN,New,Consultant Review,NR,...,10200000.0,Yes,BPS,NaN,NaN,NaN,Total Value ($),40000.0,NaN,NaN
5,2025-01-21 00:00:00,AAI Chennai,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,9180000.0,Yes,Green Apple,NaN,NaN,NaN,Total Value (INR),3400000.0,NaN,NaN
6,2024-12-13 00:00:00,Brigade Morgan Heights,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,8500000.0,No,NaN,NaN,NaN,NaN,Avg Value,136000.0,NaN,NaN
7,2025-07-02 00:00:00,PEAB,7.0,1.214286e+06,NaN,2025-10-01 00:00:00,NaN,New,Deal won,NR,...,8500000.0,Yes,Asg win,NaN,NaN,NaN,Annual target,100000000.0,NaN,NaN
8,2025-10-08 00:00:00,Honer signatis,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,8500000.0,Yes,Asg Win,NaN,NaN,NaN,Enquiries target,400000000.0,NaN,NaN
9,2025-05-30 00:00:00,The Trilight Project,2.5,3.332000e+06,NaN,2025-12-01 00:00:00,NaN,New,Commercial Review,Joint,...,8330000.0,Yes,Pidilite Appkicator,NaN,NaN,NaN,No of Months,12.0,NaN,NaN
10,2024-12-19 00:00:00,APSS Secretariat,NaN,NaN,NaN,2027,NaN,New,Commercial Review,NR,...,7395000.0,Yes,Green Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2025-06-19 00:00:00,Ascent circuits,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,6800000.0,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2025-09-18 00:00:00,RMZ 30 & 33,3.0,2.238333e+06,NaN,2025,NaN,New,Commercial Review,NR,...,6715000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2024-11-14 00:00:00,RMZ 20&21,2.0,3.187500e+06,NaN,2026,NaN,New,Commercial Review,NR,...,6375000.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-11-14 00:00:00,Millenium Towers,NaN,NaN,NaN,Project on hold,NaN,New,Commercial Review,NR,...,5950000.0,Yes,Green Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2025-09-09 00:00:00,Maiva Life Sciences,3.5,1.700000e+06,NaN,2025-11-01 00:00:00,NaN,New,Commercial Review,NR,...,5950000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2025-10-22 00:00:00,Bagdogra Airport,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,5950000.0,Yes,Asg Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025-04-02 00:00:00,TCS Siruseri,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,5015000.0,Yes,Green Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Nambiar Residency,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,4335000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2025-08-04 00:00:00,Birla Evara,1.0,4.250000e+06,NaN,2026,NaN,New,Commercial Review,NR,...,4250000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,ITPL,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,4080000.0,Yes,Green Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2025-06-02 00:00:00,JSVK Pharma,5.5,7.263636e+05,NaN,2025-11-01 00:00:00,NaN,New,Technical Review,NR,...,3995000.0,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2025-04-18 00:00:00,VIT Boys Hostel Chennai,NaN,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,3570000.0,Yes,SN Enterprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2025-05-15 00:00:00,Bagmane Memphis,6.0,5.666667e+05,NaN,2025,NaN,New,Commercial Review,NR,...,3400000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2025-08-05 00:00:00,Suroj buildcon,0.0,NaN,NaN,2026,NaN,New,Commercial Review,NR,...,3400000.0,Yes,Asg win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2025-10-24 00:00:00,Tata Varnam,0.0,NaN,NaN,2026,NaN,New,Tender Awarded,NR,...,3400000.0,Yes,Asg Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,anything above 40k usd only should be here and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,target is 300k usd per month for niranjan to q...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,10--40k usd projects to be moved to jayanth pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data=data.drop(columns=['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21'])

In [6]:
data=data.drop(columns=['Unnamed: 6'])

In [7]:
data=data.drop(columns=['Feasability Ratio'])

In [8]:
data.isnull().sum()

Inquiry Date              4
Projects                  5
Number of Hours          15
Value/Hours              22
Expected Close date       5
Construction type         5
Stage                     5
Source                    5
Quantity in LM           21
Value ($)                 4
Value (INR)               4
Quoted Via Applicator     5
Applicator                7
Lost Reason              30
dtype: int64

In [11]:
data = data.drop(index=range(26, 30))

In [14]:
data=data.drop(columns=['Lost Reason'])

In [15]:
data.isnull().sum()

Inquiry Date              3
Projects                  1
Number of Hours          11
Value/Hours              18
Expected Close date       1
Construction type         1
Stage                     1
Source                    1
Quantity in LM           17
Value ($)                 0
Value (INR)               0
Quoted Via Applicator     1
Applicator                3
dtype: int64

In [16]:
data

,Inquiry Date,Projects,Number of Hours,Value/Hours,Expected Close date,Construction type,Stage,Source,Quantity in LM,Value ($),Value (INR),Quoted Via Applicator,Applicator
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,2025-04-26 00:00:00,Sattva Lakeridge,NaN,NaN,2026,New,Commercial Review,NR,NaN,178000.0,15130000.0,Yes,Asg Win
2,2025-01-08 00:00:00,Indian Naval Academy,NaN,NaN,2026,New,Commercial Review,NR,NaN,150000.0,12750000.0,Yes,Green Apple
3,2025-05-15 00:00:00,Gangothri Tribhuja,NaN,NaN,2026,New,Commercial Review,NR,5000,140000.0,11900000.0,Yes,Asg win
4,2025-03-03 00:00:00,Ecodeck horizontal,NaN,NaN,2026,New,Consultant Review,NR,NaN,120000.0,10200000.0,Yes,BPS
5,2025-01-21 00:00:00,AAI Chennai,NaN,NaN,2026,New,Commercial Review,NR,NaN,108000.0,9180000.0,Yes,Green Apple
6,2024-12-13 00:00:00,Brigade Morgan Heights,0.0,NaN,2026,New,Commercial Review,NR,NaN,100000.0,8500000.0,No,NaN
7,2025-07-02 00:00:00,PEAB,7.0,1.214286e+06,2025-10-01 00:00:00,New,Deal won,NR,NaN,100000.0,8500000.0,Yes,Asg win
8,2025-10-08 00:00:00,Honer signatis,0.0,NaN,2026,New,Commercial Review,NR,4000,100000.0,8500000.0,Yes,Asg Win
9,2025-05-30 00:00:00,The Trilight Project,2.5,3.332000e+06,2025-12-01 00:00:00,New,Commercial Review,Joint,NaN,98000.0,8330000.0,Yes,Pidilite Appkicator
10,2024-12-19 00:00:00,APSS Secretariat,NaN,NaN,2027,New,Commercial Review,NR,NaN,87000.0,7395000.0,Yes,Green Apple
11,2025-06-19 00:00:00,Ascent circuits,NaN,NaN,2026,New,Commercial Review,NR,NaN,80000.0,6800000.0,No,No
12,2025-09-18 00:00:00,RMZ 30 & 33,3.0,2.238333e+06,2025,New,Commercial Review,NR,800+1100,79000.0,6715000.0,Yes,Asg win
13,2024-11-14 00:00:00,RMZ 20&21,2.0,3.187500e+06,2026,New,Commercial Review,NR,NaN,75000.0,6375000.0,No,NaN
14,2024-11-14 00:00:00,Millenium Towers,NaN,NaN,Project on hold,New,Commercial Review,NR,NaN,70000.0,5950000.0,Yes,Green Apple
15,2025-09-09 00:00:00,Maiva Life Sciences,3.5,1.700000e+06,2025-11-01 00:00:00,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg win
16,2025-10-22 00:00:00,Bagdogra Airport,0.0,NaN,2026,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg Win
17,2025-04-02 00:00:00,TCS Siruseri,NaN,NaN,2026,New,Commercial Review,NR,NaN,59000.0,5015000.0,Yes,Green Apple
18,NaN,Nambiar Residency,0.0,NaN,2026,New,Commercial Review,NR,NaN,51000.0,4335000.0,Yes,Asg win
19,2025-08-04 00:00:00,Birla Evara,1.0,4.250000e+06,2026,New,Commercial Review,NR,1400,50000.0,4250000.0,Yes,Asg win
20,NaN,ITPL,0.0,NaN,2026,New,Commercial Review,NR,NaN,48000.0,4080000.0,Yes,Green Apple
21,2025-06-02 00:00:00,JSVK Pharma,5.5,7.263636e+05,2025-11-01 00:00:00,New,Technical Review,NR,NaN,47000.0,3995000.0,No,No
22,2025-04-18 00:00:00,VIT Boys Hostel Chennai,NaN,NaN,2026,New,Commercial Review,NR,NaN,42000.0,3570000.0,Yes,SN Enterprise
23,2025-05-15 00:00:00,Bagmane Memphis,6.0,5.666667e+05,2025,New,Commercial Review,NR,1000+500,40000.0,3400000.0,Yes,Asg win
24,2025-08-05 00:00:00,Suroj buildcon,0.0,NaN,2026,New,Commercial Review,NR,1600,40000.0,3400000.0,Yes,Asg win
25,2025-10-24 00:00:00,Tata Varnam,0.0,NaN,2026,New,Tender Awarded,NR,1000,40000.0,3400000.0,Yes,Asg Win

In [17]:
data = data.drop(index=range(1))

In [18]:
data

,Inquiry Date,Projects,Number of Hours,Value/Hours,Expected Close date,Construction type,Stage,Source,Quantity in LM,Value ($),Value (INR),Quoted Via Applicator,Applicator
1,2025-04-26 00:00:00,Sattva Lakeridge,NaN,NaN,2026,New,Commercial Review,NR,NaN,178000.0,15130000.0,Yes,Asg Win
2,2025-01-08 00:00:00,Indian Naval Academy,NaN,NaN,2026,New,Commercial Review,NR,NaN,150000.0,12750000.0,Yes,Green Apple
3,2025-05-15 00:00:00,Gangothri Tribhuja,NaN,NaN,2026,New,Commercial Review,NR,5000,140000.0,11900000.0,Yes,Asg win
4,2025-03-03 00:00:00,Ecodeck horizontal,NaN,NaN,2026,New,Consultant Review,NR,NaN,120000.0,10200000.0,Yes,BPS
5,2025-01-21 00:00:00,AAI Chennai,NaN,NaN,2026,New,Commercial Review,NR,NaN,108000.0,9180000.0,Yes,Green Apple
6,2024-12-13 00:00:00,Brigade Morgan Heights,0.0,NaN,2026,New,Commercial Review,NR,NaN,100000.0,8500000.0,No,NaN
7,2025-07-02 00:00:00,PEAB,7.0,1.214286e+06,2025-10-01 00:00:00,New,Deal won,NR,NaN,100000.0,8500000.0,Yes,Asg win
8,2025-10-08 00:00:00,Honer signatis,0.0,NaN,2026,New,Commercial Review,NR,4000,100000.0,8500000.0,Yes,Asg Win
9,2025-05-30 00:00:00,The Trilight Project,2.5,3.332000e+06,2025-12-01 00:00:00,New,Commercial Review,Joint,NaN,98000.0,8330000.0,Yes,Pidilite Appkicator
10,2024-12-19 00:00:00,APSS Secretariat,NaN,NaN,2027,New,Commercial Review,NR,NaN,87000.0,7395000.0,Yes,Green Apple
11,2025-06-19 00:00:00,Ascent circuits,NaN,NaN,2026,New,Commercial Review,NR,NaN,80000.0,6800000.0,No,No
12,2025-09-18 00:00:00,RMZ 30 & 33,3.0,2.238333e+06,2025,New,Commercial Review,NR,800+1100,79000.0,6715000.0,Yes,Asg win
13,2024-11-14 00:00:00,RMZ 20&21,2.0,3.187500e+06,2026,New,Commercial Review,NR,NaN,75000.0,6375000.0,No,NaN
14,2024-11-14 00:00:00,Millenium Towers,NaN,NaN,Project on hold,New,Commercial Review,NR,NaN,70000.0,5950000.0,Yes,Green Apple
15,2025-09-09 00:00:00,Maiva Life Sciences,3.5,1.700000e+06,2025-11-01 00:00:00,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg win
16,2025-10-22 00:00:00,Bagdogra Airport,0.0,NaN,2026,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg Win
17,2025-04-02 00:00:00,TCS Siruseri,NaN,NaN,2026,New,Commercial Review,NR,NaN,59000.0,5015000.0,Yes,Green Apple
18,NaN,Nambiar Residency,0.0,NaN,2026,New,Commercial Review,NR,NaN,51000.0,4335000.0,Yes,Asg win
19,2025-08-04 00:00:00,Birla Evara,1.0,4.250000e+06,2026,New,Commercial Review,NR,1400,50000.0,4250000.0,Yes,Asg win
20,NaN,ITPL,0.0,NaN,2026,New,Commercial Review,NR,NaN,48000.0,4080000.0,Yes,Green Apple
21,2025-06-02 00:00:00,JSVK Pharma,5.5,7.263636e+05,2025-11-01 00:00:00,New,Technical Review,NR,NaN,47000.0,3995000.0,No,No
22,2025-04-18 00:00:00,VIT Boys Hostel Chennai,NaN,NaN,2026,New,Commercial Review,NR,NaN,42000.0,3570000.0,Yes,SN Enterprise
23,2025-05-15 00:00:00,Bagmane Memphis,6.0,5.666667e+05,2025,New,Commercial Review,NR,1000+500,40000.0,3400000.0,Yes,Asg win
24,2025-08-05 00:00:00,Suroj buildcon,0.0,NaN,2026,New,Commercial Review,NR,1600,40000.0,3400000.0,Yes,Asg win
25,2025-10-24 00:00:00,Tata Varnam,0.0,NaN,2026,New,Tender Awarded,NR,1000,40000.0,3400000.0,Yes,Asg Win

In [20]:
data['Applicator'].fillna('Not Assigned', inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\681309397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Applicator'].fillna('Not Assigned', inplace=True)

In [24]:
data['Number of Hours'].fillna(0, inplace=True)
data['Value/Hours'].fillna(0, inplace=True)
data['Quantity in LM'].fillna(0, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\2968683793.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of Hours'].fillna(0, inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\2968683793.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Value/Hours'].fillna(0, inplace=True)

In [25]:
data.isnull().sum()

Inquiry Date             2
Projects                 0
Number of Hours          0
Value/Hours              0
Expected Close date      0
Construction type        0
Stage                    0
Source                   0
Quantity in LM           0
Value ($)                0
Value (INR)              0
Quoted Via Applicator    0
Applicator               0
dtype: int64

In [26]:
data['Inquiry Date'].fillna(method='ffill', inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\1893224825.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Inquiry Date'].fillna(method='ffill', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\1893224825.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['Inquiry Date'].fillna(method='ffill', inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14812\1893224825.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Inquiry Date'].fillna(method='ffill', inplace=True)

In [27]:
data.isnull().sum()

Inquiry Date             0
Projects                 0
Number of Hours          0
Value/Hours              0
Expected Close date      0
Construction type        0
Stage                    0
Source                   0
Quantity in LM           0
Value ($)                0
Value (INR)              0
Quoted Via Applicator    0
Applicator               0
dtype: int64

In [28]:
data

,Inquiry Date,Projects,Number of Hours,Value/Hours,Expected Close date,Construction type,Stage,Source,Quantity in LM,Value ($),Value (INR),Quoted Via Applicator,Applicator
1,2025-04-26,Sattva Lakeridge,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,178000.0,15130000.0,Yes,Asg Win
2,2025-01-08,Indian Naval Academy,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,150000.0,12750000.0,Yes,Green Apple
3,2025-05-15,Gangothri Tribhuja,0.0,0.000000e+00,2026,New,Commercial Review,NR,5000,140000.0,11900000.0,Yes,Asg win
4,2025-03-03,Ecodeck horizontal,0.0,0.000000e+00,2026,New,Consultant Review,NR,0,120000.0,10200000.0,Yes,BPS
5,2025-01-21,AAI Chennai,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,108000.0,9180000.0,Yes,Green Apple
6,2024-12-13,Brigade Morgan Heights,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,100000.0,8500000.0,No,Not Assigned
7,2025-07-02,PEAB,7.0,1.214286e+06,2025-10-01 00:00:00,New,Deal won,NR,0,100000.0,8500000.0,Yes,Asg win
8,2025-10-08,Honer signatis,0.0,0.000000e+00,2026,New,Commercial Review,NR,4000,100000.0,8500000.0,Yes,Asg Win
9,2025-05-30,The Trilight Project,2.5,3.332000e+06,2025-12-01 00:00:00,New,Commercial Review,Joint,0,98000.0,8330000.0,Yes,Pidilite Appkicator
10,2024-12-19,APSS Secretariat,0.0,0.000000e+00,2027,New,Commercial Review,NR,0,87000.0,7395000.0,Yes,Green Apple
11,2025-06-19,Ascent circuits,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,80000.0,6800000.0,No,No
12,2025-09-18,RMZ 30 & 33,3.0,2.238333e+06,2025,New,Commercial Review,NR,800+1100,79000.0,6715000.0,Yes,Asg win
13,2024-11-14,RMZ 20&21,2.0,3.187500e+06,2026,New,Commercial Review,NR,0,75000.0,6375000.0,No,Not Assigned
14,2024-11-14,Millenium Towers,0.0,0.000000e+00,Project on hold,New,Commercial Review,NR,0,70000.0,5950000.0,Yes,Green Apple
15,2025-09-09,Maiva Life Sciences,3.5,1.700000e+06,2025-11-01 00:00:00,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg win
16,2025-10-22,Bagdogra Airport,0.0,0.000000e+00,2026,New,Commercial Review,NR,2000,70000.0,5950000.0,Yes,Asg Win
17,2025-04-02,TCS Siruseri,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,59000.0,5015000.0,Yes,Green Apple
18,2025-04-02,Nambiar Residency,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,51000.0,4335000.0,Yes,Asg win
19,2025-08-04,Birla Evara,1.0,4.250000e+06,2026,New,Commercial Review,NR,1400,50000.0,4250000.0,Yes,Asg win
20,2025-08-04,ITPL,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,48000.0,4080000.0,Yes,Green Apple
21,2025-06-02,JSVK Pharma,5.5,7.263636e+05,2025-11-01 00:00:00,New,Technical Review,NR,0,47000.0,3995000.0,No,No
22,2025-04-18,VIT Boys Hostel Chennai,0.0,0.000000e+00,2026,New,Commercial Review,NR,0,42000.0,3570000.0,Yes,SN Enterprise
23,2025-05-15,Bagmane Memphis,6.0,5.666667e+05,2025,New,Commercial Review,NR,1000+500,40000.0,3400000.0,Yes,Asg win
24,2025-08-05,Suroj buildcon,0.0,0.000000e+00,2026,New,Commercial Review,NR,1600,40000.0,3400000.0,Yes,Asg win
25,2025-10-24,Tata Varnam,0.0,0.000000e+00,2026,New,Tender Awarded,NR,1000,40000.0,3400000.0,Yes,Asg Win

In [29]:
data['Applicator'] = data['Applicator'].replace({
    'No': 'Not Assigned',
    'no': 'Not Assigned',
    'Not assigned': 'Not Assigned'
})

In [31]:
data['Applicator'].unique()

array(['Asg Win', 'Green Apple', 'Asg win', 'BPS', 'Not Assigned',
       'Pidilite Appkicator', 'SN Enterprise'], dtype=object)

In [32]:
data['Applicator'] = data['Applicator'].replace({
    'Asg win': 'Asg Win',    
})

In [33]:
data['Applicator'].unique()

array(['Asg Win', 'Green Apple', 'BPS', 'Not Assigned',
       'Pidilite Appkicator', 'SN Enterprise'], dtype=object)

In [35]:
data['Projects'].unique()

array(['Sattva Lakeridge', 'Indian Naval Academy', 'Gangothri Tribhuja',
       'Ecodeck horizontal', 'AAI Chennai', 'Brigade Morgan Heights',
       'PEAB', 'Honer signatis', 'The Trilight Project',
       'APSS Secretariat', 'Ascent circuits', 'RMZ 30 & 33', 'RMZ 20&21',
       'Millenium Towers', 'Maiva Life Sciences', 'Bagdogra Airport',
       'TCS Siruseri', 'Nambiar Residency', 'Birla Evara', 'ITPL',
       'JSVK Pharma', 'VIT Boys Hostel Chennai', 'Bagmane  Memphis',
       'Suroj buildcon', 'Tata Varnam'], dtype=object)

In [39]:
data['month'] = data['Inquiry Date'].dt.to_period('M')
monthly_hours = data.groupby('month')['Projects'].count().sort_values(ascending=False)
monthly_hours

month
2025-04    4
2025-05    3
2025-10    3
2025-08    3
2025-01    2
2024-11    2
2024-12    2
2025-09    2
2025-06    2
2025-03    1
2025-07    1
Freq: M, Name: Projects, dtype: int64

# Project inquiries show a clear seasonal pattern, 
# peaking in April 2025 with sustained activity across mid-2025, 
# indicating Q2 as the strongest period for new business.

In [41]:
data.groupby('Projects')['Value (INR)'].sum().sort_values(ascending=False)

Projects
Sattva Lakeridge           15130000.0
Indian Naval Academy       12750000.0
Gangothri Tribhuja         11900000.0
Ecodeck horizontal         10200000.0
AAI Chennai                 9180000.0
Honer signatis              8500000.0
PEAB                        8500000.0
Brigade Morgan Heights      8500000.0
The Trilight Project        8330000.0
APSS Secretariat            7395000.0
Ascent circuits             6800000.0
RMZ 30 & 33                 6715000.0
RMZ 20&21                   6375000.0
Millenium Towers            5950000.0
Maiva Life Sciences         5950000.0
Bagdogra Airport            5950000.0
TCS Siruseri                5015000.0
Nambiar Residency           4335000.0
Birla Evara                 4250000.0
ITPL                        4080000.0
JSVK Pharma                 3995000.0
VIT Boys Hostel Chennai     3570000.0
Bagmane  Memphis            3400000.0
Suroj buildcon              3400000.0
Tata Varnam                 3400000.0
Name: Value (INR), dtype: float64

# The revenue pipeline is highly concentrated in a small number of high-value projects, 
# with Sattva Lakeridge, Indian Naval Academy, 
# and Gangothri Tribhuja leading the portfolio. 
# Prioritizing conversion of the top 5â€“10 projects will yield the maximum revenue impact

In [51]:
data.groupby('Applicator')['Applicator'].count().sort_values(ascending=False)

Applicator
Asg Win                12
Green Apple             6
Not Assigned            4
BPS                     1
Pidilite Appkicator     1
SN Enterprise           1
Name: Applicator, dtype: int64

# Asg Win dominates applicator allocation, handling nearly half of all projects, 
# while a small but critical portion remains unassigned, 
# highlighting the need for early applicator planning