# Key Accounts Analysis

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
xls=pd.ExcelFile("Sample Month End Report for Assesment.xlsx")

In [5]:
xls.sheet_names

['Time spent Analysis', 'Key Accounts', 'Meeting Log', 'Inquiry Tracker']

In [6]:
data=pd.read_excel("Sample Month End Report for Assesment.xlsx",sheet_name="Key Accounts")
data

,Location,Key Account Names (company name),Types of Projects,Number of Decision Makers/ Sub Teams,Estimated Vol of Boq Per Year with EJC,Target number of Boq from the account
0,Chennai,AECOM,Res/Com,15 members of 3 groups reporting to Jayanthi,5,5
1,Hyderabad,AEDBM,Res/Com,5 members reporting to Rama rao,1 or 2,1
2,Bangalore,Aedium Designs,Res/Com,3 teams of 10 members reporting to Nishanth,2,2
3,Chennai,Archetype,Res/Com,7 members reporting to shivashankaran,3,3
4,Chennai,Ashok Narayan & Eshwar,Res/Com,12 members reportinng to Murthy,5,5
5,Bangalore,Base,Res/Com,4 members reporting to Sanjay,1,1
6,Chennai,Besten Consultants,Res/Com,NaN,1,1
7,Chennai,Bureau Engineers (structural),Res/Com,16 members of 4 teams reporting to Permaian,5,5
8,Hyderabad,Bureau Hepolt,Res/Com,4 members reporting to Ganesh,1 or 2,1
9,Bangalore,Chandavarkar and Thacker Architects,Res/Com,4 members reporting to Prem,2 or 3,1
10,Chennai,cheralathan Architect,Res/Com,10 Members reporting to Cheralathan,3,3
11,Bangalore,Chintala Studio.,Res/Com,1 team of 8 members reporting to Veena,1 or 2,1
12,Chennai,creative structures,Com,6 members reporting to JSyno Mathew,2 to 3,1
13,chennai,CRN Architects,Res/Com,3 members reporting to Lohith,10,8
14,Bangalore,Design Tree,Res/Com,"70 Architect in 5 teams, with 5 associates rep...",15,13
15,Chennai,Dius Consultants,Res/Com,12 members in 2 temas reporting to Subbaiah,3,3
16,Bangalore,Ducon,Res/Com,8 members reporting to Syed Ameel,2 or 3,1
17,Bangalore,Gensler.,Res/Com,1 team of 8 members reporting to Bhavin,2 or 3,1
18,Kerala,Geostructural,Com,6 divisions consiting of 70 people with 6 divi...,2 to 3,1
19,Bangalore,Inform Architects.,Res/Com,2 teams of 5 members reporting to Urvashi,2,2
20,Bangalore,Innotech,Res/Com,3 teams of 15 members reporting to Bhavesh and...,10,9
21,Bangalore,Innovarch,Com,5 members reporting to Chandru,1,1
22,Chennai,Jayam Consultants,Res/Com,5 members reporting to Reddy,3,3
23,Kerala,Kitco.,Res/Com,6 divisions consiting of 80 people with 6 divi...,2,2
24,Kerala,Kumar group,Com,1 team of 6 members reporting to Rani,1 or 2,1
25,Hyderabad,Murthy and Manyam.,Res/Com,7 members reporting to Balakrishna,3 to 4,2
26,Bangalore,Nadig consultants,Res/Com,5 TEAMS consiting of 6 people each with 5 team...,3 to 4,2
27,chennai,Natraj And Venkat.,Res/Com,1 team of 5 members reporting to Natraj,5,3
28,Chennai,OCI Architects,Res/Com,6 members reporting to Poni,3,3
29,Bangalore,Pragathi,Res/Com,10 members reporting to Vishwas,2 or 3,1
30,Bangalore,Pragrup Architects,Res/Com,3 members reporting to ravi kumar,2 or 3,1
31,Bangalore,Prasad Consultants,Res/Com,2 teams of 7 members reporting to kiran,2 or 3,1
32,Kerala,Prashant architects,Res/Com,1 team of 7 members reporting to Nizar,1 or 2,1
33,Chennai,RSB Consultants,Res/Com,8 Members reporting to Suresh Babu,5,5
34,Bangalore,Sky tree,Res/Com,1 team of 6 members reporting to sanjay,1,1
35,Hyderabad,Sri harsha Pvt Ltd ( Structural),Res/Com,3 members reporting to reddy,1 or 2,1
36,Bangalore,Sterling Engineers,Res/Com,2 tems of 6 members reporting to Nagendra,3,3
37,Bangalore,Sundaram Architects.,Res/Com,1 team of 5 members reporting to Anitha,2 or 3,1
38,Hyderabad,Tameer Consulting Engineers,Res/Com,6 members reporting to Varshath ali,1 or 2,1
39,Bangalore,Venkataramana Associates,Res/Com,2 teams of 6 members reporting to Subramani,2 or 3,1
40,Bangalore,Vishwanath Associates,Res/Com,4 members reporting to vidya,2,2
41,Hyderabad,Zaki Assosciates,Res/Com,8 members of 2 teams reporting to zaki,1 or 2,1

In [7]:
data.isnull().sum()

Location                                  0
Key Account Names (company name)          0
Types of Projects                         0
Number of Decision Makers/ Sub Teams      1
Estimated Vol of Boq Per Year with EJC    0
Target number of Boq from the account     0
dtype: int64

In [8]:
data['Number of Decision Makers/ Sub Teams']=data['Number of Decision Makers/ Sub Teams'].fillna('unknown')

In [9]:
data.isnull().sum()

Location                                  0
Key Account Names (company name)          0
Types of Projects                         0
Number of Decision Makers/ Sub Teams      0
Estimated Vol of Boq Per Year with EJC    0
Target number of Boq from the account     0
dtype: int64

In [10]:
data.columns=data.columns.str.replace(' ','_')
data.columns=data.columns.str.lower().str.strip()

In [11]:
data = data.rename(columns={'number_of_decision_makers/_sub_teams': 'number_of_decision_makers/sub_teams'})
data = data.rename(columns={'key_account_names_(company_name)': 'key_account_names(company_name)'})

In [12]:
data

,location,key_account_names(company_name),types_of_projects,number_of_decision_makers/sub_teams,estimated_vol_of_boq_per_year_with_ejc,target_number_of_boq_from_the_account
0,Chennai,AECOM,Res/Com,15 members of 3 groups reporting to Jayanthi,5,5
1,Hyderabad,AEDBM,Res/Com,5 members reporting to Rama rao,1 or 2,1
2,Bangalore,Aedium Designs,Res/Com,3 teams of 10 members reporting to Nishanth,2,2
3,Chennai,Archetype,Res/Com,7 members reporting to shivashankaran,3,3
4,Chennai,Ashok Narayan & Eshwar,Res/Com,12 members reportinng to Murthy,5,5
5,Bangalore,Base,Res/Com,4 members reporting to Sanjay,1,1
6,Chennai,Besten Consultants,Res/Com,unknown,1,1
7,Chennai,Bureau Engineers (structural),Res/Com,16 members of 4 teams reporting to Permaian,5,5
8,Hyderabad,Bureau Hepolt,Res/Com,4 members reporting to Ganesh,1 or 2,1
9,Bangalore,Chandavarkar and Thacker Architects,Res/Com,4 members reporting to Prem,2 or 3,1
10,Chennai,cheralathan Architect,Res/Com,10 Members reporting to Cheralathan,3,3
11,Bangalore,Chintala Studio.,Res/Com,1 team of 8 members reporting to Veena,1 or 2,1
12,Chennai,creative structures,Com,6 members reporting to JSyno Mathew,2 to 3,1
13,chennai,CRN Architects,Res/Com,3 members reporting to Lohith,10,8
14,Bangalore,Design Tree,Res/Com,"70 Architect in 5 teams, with 5 associates rep...",15,13
15,Chennai,Dius Consultants,Res/Com,12 members in 2 temas reporting to Subbaiah,3,3
16,Bangalore,Ducon,Res/Com,8 members reporting to Syed Ameel,2 or 3,1
17,Bangalore,Gensler.,Res/Com,1 team of 8 members reporting to Bhavin,2 or 3,1
18,Kerala,Geostructural,Com,6 divisions consiting of 70 people with 6 divi...,2 to 3,1
19,Bangalore,Inform Architects.,Res/Com,2 teams of 5 members reporting to Urvashi,2,2
20,Bangalore,Innotech,Res/Com,3 teams of 15 members reporting to Bhavesh and...,10,9
21,Bangalore,Innovarch,Com,5 members reporting to Chandru,1,1
22,Chennai,Jayam Consultants,Res/Com,5 members reporting to Reddy,3,3
23,Kerala,Kitco.,Res/Com,6 divisions consiting of 80 people with 6 divi...,2,2
24,Kerala,Kumar group,Com,1 team of 6 members reporting to Rani,1 or 2,1
25,Hyderabad,Murthy and Manyam.,Res/Com,7 members reporting to Balakrishna,3 to 4,2
26,Bangalore,Nadig consultants,Res/Com,5 TEAMS consiting of 6 people each with 5 team...,3 to 4,2
27,chennai,Natraj And Venkat.,Res/Com,1 team of 5 members reporting to Natraj,5,3
28,Chennai,OCI Architects,Res/Com,6 members reporting to Poni,3,3
29,Bangalore,Pragathi,Res/Com,10 members reporting to Vishwas,2 or 3,1
30,Bangalore,Pragrup Architects,Res/Com,3 members reporting to ravi kumar,2 or 3,1
31,Bangalore,Prasad Consultants,Res/Com,2 teams of 7 members reporting to kiran,2 or 3,1
32,Kerala,Prashant architects,Res/Com,1 team of 7 members reporting to Nizar,1 or 2,1
33,Chennai,RSB Consultants,Res/Com,8 Members reporting to Suresh Babu,5,5
34,Bangalore,Sky tree,Res/Com,1 team of 6 members reporting to sanjay,1,1
35,Hyderabad,Sri harsha Pvt Ltd ( Structural),Res/Com,3 members reporting to reddy,1 or 2,1
36,Bangalore,Sterling Engineers,Res/Com,2 tems of 6 members reporting to Nagendra,3,3
37,Bangalore,Sundaram Architects.,Res/Com,1 team of 5 members reporting to Anitha,2 or 3,1
38,Hyderabad,Tameer Consulting Engineers,Res/Com,6 members reporting to Varshath ali,1 or 2,1
39,Bangalore,Venkataramana Associates,Res/Com,2 teams of 6 members reporting to Subramani,2 or 3,1
40,Bangalore,Vishwanath Associates,Res/Com,4 members reporting to vidya,2,2
41,Hyderabad,Zaki Assosciates,Res/Com,8 members of 2 teams reporting to zaki,1 or 2,1

In [13]:
data['location'].unique()

array(['Chennai', 'Hyderabad', 'Bangalore', 'chennai', 'Kerala'],
      dtype=object)

In [14]:
data['location']=data['location'].replace('chennai','Chennai')

In [15]:
data['location'].unique()

array(['Chennai', 'Hyderabad', 'Bangalore', 'Kerala'], dtype=object)

In [16]:
import numpy as np
import re

def convert_boq(value):
    # Handle missing values
    if pd.isna(value):
        return np.nan

    # If already numeric, return as float
    if isinstance(value, (int, float)):
        return float(value)

    # Convert everything else to string
    value = str(value).lower().strip()

    # Extract numbers
    numbers = re.findall(r'\d+', value)

    if len(numbers) == 1:
        return float(numbers[0])

    elif len(numbers) == 2:
        return (float(numbers[0]) + float(numbers[1])) / 2

    else:
        return np.nan

# On average, this account is expected to generate 1.5 BOQs per year

In [17]:
data['estimated_boq_clean'] = data['estimated_vol_of_boq_per_year_with_ejc'].apply(convert_boq)

In [18]:
data[['estimated_vol_of_boq_per_year_with_ejc', 'estimated_boq_clean']].head(15)

   estimated_vol_of_boq_per_year_with_ejc  estimated_boq_clean
0                                       5                  5.0
1                                  1 or 2                  1.5
2                                       2                  2.0
3                                       3                  3.0
4                                       5                  5.0
5                                       1                  1.0
6                                       1                  1.0
7                                       5                  5.0
8                                  1 or 2                  1.5
9                                  2 or 3                  2.5
10                                      3                  3.0
11                                 1 or 2                  1.5
12                                 2 to 3                  2.5
13                                     10                 10.0
14                                     15                 15.0

In [19]:
data.groupby('location')['estimated_boq_clean'].sum()

location
Bangalore    62.0
Chennai      53.5
Hyderabad    11.0
Kerala        7.5
Name: estimated_boq_clean, dtype: float64

In [ ]:
# Bangalore has the highest BOQ potential (62 BOQs/year), 
# followed by Chennai (53.5), 
# making these two cities the primary revenue-driving markets for EJC.

# Around 86% of EJCs total BOQ opportunity is concentrated in Bangalore and Chennai.

In [20]:
data['boq_gap'] = data['estimated_boq_clean'] - data['target_number_of_boq_from_the_account']

In [21]:
data

,location,key_account_names(company_name),types_of_projects,number_of_decision_makers/sub_teams,estimated_vol_of_boq_per_year_with_ejc,target_number_of_boq_from_the_account,estimated_boq_clean,boq_gap
0,Chennai,AECOM,Res/Com,15 members of 3 groups reporting to Jayanthi,5,5,5.0,0.0
1,Hyderabad,AEDBM,Res/Com,5 members reporting to Rama rao,1 or 2,1,1.5,0.5
2,Bangalore,Aedium Designs,Res/Com,3 teams of 10 members reporting to Nishanth,2,2,2.0,0.0
3,Chennai,Archetype,Res/Com,7 members reporting to shivashankaran,3,3,3.0,0.0
4,Chennai,Ashok Narayan & Eshwar,Res/Com,12 members reportinng to Murthy,5,5,5.0,0.0
5,Bangalore,Base,Res/Com,4 members reporting to Sanjay,1,1,1.0,0.0
6,Chennai,Besten Consultants,Res/Com,unknown,1,1,1.0,0.0
7,Chennai,Bureau Engineers (structural),Res/Com,16 members of 4 teams reporting to Permaian,5,5,5.0,0.0
8,Hyderabad,Bureau Hepolt,Res/Com,4 members reporting to Ganesh,1 or 2,1,1.5,0.5
9,Bangalore,Chandavarkar and Thacker Architects,Res/Com,4 members reporting to Prem,2 or 3,1,2.5,1.5
10,Chennai,cheralathan Architect,Res/Com,10 Members reporting to Cheralathan,3,3,3.0,0.0
11,Bangalore,Chintala Studio.,Res/Com,1 team of 8 members reporting to Veena,1 or 2,1,1.5,0.5
12,Chennai,creative structures,Com,6 members reporting to JSyno Mathew,2 to 3,1,2.5,1.5
13,Chennai,CRN Architects,Res/Com,3 members reporting to Lohith,10,8,10.0,2.0
14,Bangalore,Design Tree,Res/Com,"70 Architect in 5 teams, with 5 associates rep...",15,13,15.0,2.0
15,Chennai,Dius Consultants,Res/Com,12 members in 2 temas reporting to Subbaiah,3,3,3.0,0.0
16,Bangalore,Ducon,Res/Com,8 members reporting to Syed Ameel,2 or 3,1,2.5,1.5
17,Bangalore,Gensler.,Res/Com,1 team of 8 members reporting to Bhavin,2 or 3,1,2.5,1.5
18,Kerala,Geostructural,Com,6 divisions consiting of 70 people with 6 divi...,2 to 3,1,2.5,1.5
19,Bangalore,Inform Architects.,Res/Com,2 teams of 5 members reporting to Urvashi,2,2,2.0,0.0
20,Bangalore,Innotech,Res/Com,3 teams of 15 members reporting to Bhavesh and...,10,9,10.0,1.0
21,Bangalore,Innovarch,Com,5 members reporting to Chandru,1,1,1.0,0.0
22,Chennai,Jayam Consultants,Res/Com,5 members reporting to Reddy,3,3,3.0,0.0
23,Kerala,Kitco.,Res/Com,6 divisions consiting of 80 people with 6 divi...,2,2,2.0,0.0
24,Kerala,Kumar group,Com,1 team of 6 members reporting to Rani,1 or 2,1,1.5,0.5
25,Hyderabad,Murthy and Manyam.,Res/Com,7 members reporting to Balakrishna,3 to 4,2,3.5,1.5
26,Bangalore,Nadig consultants,Res/Com,5 TEAMS consiting of 6 people each with 5 team...,3 to 4,2,3.5,1.5
27,Chennai,Natraj And Venkat.,Res/Com,1 team of 5 members reporting to Natraj,5,3,5.0,2.0
28,Chennai,OCI Architects,Res/Com,6 members reporting to Poni,3,3,3.0,0.0
29,Bangalore,Pragathi,Res/Com,10 members reporting to Vishwas,2 or 3,1,2.5,1.5
30,Bangalore,Pragrup Architects,Res/Com,3 members reporting to ravi kumar,2 or 3,1,2.5,1.5
31,Bangalore,Prasad Consultants,Res/Com,2 teams of 7 members reporting to kiran,2 or 3,1,2.5,1.5
32,Kerala,Prashant architects,Res/Com,1 team of 7 members reporting to Nizar,1 or 2,1,1.5,0.5
33,Chennai,RSB Consultants,Res/Com,8 Members reporting to Suresh Babu,5,5,5.0,0.0
34,Bangalore,Sky tree,Res/Com,1 team of 6 members reporting to sanjay,1,1,1.0,0.0
35,Hyderabad,Sri harsha Pvt Ltd ( Structural),Res/Com,3 members reporting to reddy,1 or 2,1,1.5,0.5
36,Bangalore,Sterling Engineers,Res/Com,2 tems of 6 members reporting to Nagendra,3,3,3.0,0.0
37,Bangalore,Sundaram Architects.,Res/Com,1 team of 5 members reporting to Anitha,2 or 3,1,2.5,1.5
38,Hyderabad,Tameer Consulting Engineers,Res/Com,6 members reporting to Varshath ali,1 or 2,1,1.5,0.5
39,Bangalore,Venkataramana Associates,Res/Com,2 teams of 6 members reporting to Subramani,2 or 3,1,2.5,1.5
40,Bangalore,Vishwanath Associates,Res/Com,4 members reporting to vidya,2,2,2.0,0.0
41,Hyderabad,Zaki Assosciates,Res/Com,8 members of 2 teams reporting to zaki,1 or 2,1,1.5,0.5

In [22]:
data['boq_gap']

0     0.0
1     0.5
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.5
9     1.5
10    0.0
11    0.5
12    1.5
13    2.0
14    2.0
15    0.0
16    1.5
17    1.5
18    1.5
19    0.0
20    1.0
21    0.0
22    0.0
23    0.0
24    0.5
25    1.5
26    1.5
27    2.0
28    0.0
29    1.5
30    1.5
31    1.5
32    0.5
33    0.0
34    0.0
35    0.5
36    0.0
37    1.5
38    0.5
39    1.5
40    0.0
41    0.5
Name: boq_gap, dtype: float64

# Most accounts have correct targets, but a few still have good growth potential with low risk

In [24]:
data.groupby('types_of_projects')['estimated_boq_clean'].sum()

types_of_projects
Com          7.5
Res/Com    126.5
Name: estimated_boq_clean, dtype: float64

# Residential & Commercial projects dominate BOQ volume.

In [28]:
company_boq=data.groupby('key_account_names(company_name)')['estimated_boq_clean'].sum().sort_values(ascending=False)

In [31]:
# top 10 comapnies with high estimated boq
company_boq.head(10)

key_account_names(company_name)
Design Tree                      15.0
CRN Architects                   10.0
Innotech                         10.0
Ashok Narayan & Eshwar            5.0
Bureau Engineers (structural)     5.0
AECOM                             5.0
RSB Consultants                   5.0
Natraj And Venkat.                5.0
Murthy and Manyam.                3.5
Nadig consultants                 3.5
Name: estimated_boq_clean, dtype: float64